NetMag.Validation.Solution/NetMag.Validation.Web/Service References/ServicoInscricao/NetMag.Validation.WCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetMag.Validation.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetMag.Validation.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Funcionario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Funcionario" nillable="true" type="tns:Funcionario" />
</xs:schema>